# AI API Keys
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyABe_O3ZEQBOrqYzSowR_4PN43Rz6TZpKQ
NEXT_PUBLIC_GROQ_API_KEY=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

# Payment Gateway
NEXT_PUBLIC_STRIPE_KEY=pk_test_51T82ORF9eO4syomLi69rjzYGllh9bUqrsiul52FKYJx79gX2Mbd3Uhit07m8RsOH8UJtBQ5ia5032NeZ9Mw345qi00P9bFe9rv

# Project Configuration
CORE_CONFIG_OVERRIDE=false
